<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p><strong>ID</strong>: {{example.id}}</p>
            <p><strong>Text</strong>: {{example.dep_name}}</p>
            <p><strong>Description:</strong> {{example.description}}</p>
            <a href="/home">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8 offset-2">
      <ul id="employee-list" class="list-group">
        {{#each employees}}
         {{!--  {{if @last}}
        <li data-id="{{this.id}}" class="list-group-item last-record">
          <a href="employee/{{this.id}}">{{this.first_name}}, {{this.last_name}}</a>
        </li>
        {{else}} --}}
        <li data-id="{{this.id}}" class="list-group-item">
          <a href="employee/{{this.id}}">{{this.first_name}}, {{this.last_name}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <nav class="col-8 offset-2" aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="/department/{{example.id}}/employee_previous.html">Previous</a></li>
    <li class="page-item"><a class="page-link" href="/department/{{example.id}}/employee_result1.html"
      {{!-- "/deparmtents/",req.params.id,"/",{{lastID}}"" --}}
      >1</a></li>
    <li class="page-item"><a class="page-link" href="/department/{{example.id}}/employee_result2.html">2</a></li>
    <li class="page-item"><a class="page-link" href="/department/{{example.id}}/employee_result3.html">3</a></li>
    <li class="page-item"><a class="page-link" href="/department/{{example.id}}/employee_next_result.html">Next</a></li>
  </ul>
</nav>
<script>
 
 

</script>
  </div>